        
        .chat
        {
            list-style: none;
            margin: 0;
            padding: 0;
        }
        
        .chat li
        {
            margin-bottom: 10px;
            padding-bottom: 5px;
            border-bottom: 1px dotted #B3A9A9;
        }
        
        .chat li.left .chat-body
        {
            margin-left: 60px;
        }
        
        .chat li.right .chat-body
        {
            margin-right: 60px;
        }
        
        
        .chat li .chat-body p
        {
            margin: 0;
            color: #777777;
        }
        
        .panel .slidedown .glyphicon, .chat .glyphicon
        {
            margin-right: 5px;
        }
        
        .panel-body
        {
            overflow-y: scroll;
            height: 500px;
        }
        
        ::-webkit-scrollbar-track
        {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            background-color: #F5F5F5;
        }
        
        ::-webkit-scrollbar
        {
            width: 12px;
            background-color: #F5F5F5;
        }
        
        ::-webkit-scrollbar-thumb
        {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
            background-color: #555;
        }




        .card {position: relative; border-radius: 3px; background-color: #fff;color: #4f5256;border: 1px solid #f2f2f2;margin-bottom: 16px;background:#fff;}
.card-header{ padding: 16px;margin:0px;}
.card-body {position: relative; padding: 16px;}

.gaadiex-list {list-style-type: none; margin: 0;padding: 0;}
.gaadiex-list>.gaadiex-list-item {padding: 0 22px;}
.gaadiex-list-item-img  {
    float: left;
    width: 58px;
    height: 58px;
    margin-top: 20px;
    margin-bottom: 8px;
    margin-right: 20px;
    border-radius: 50%;
}
.gaadiex-list-item i  {
    float: left;
    font-size:48px;
    width: 58px;
    height: 58px;
    margin-top: 20px;
    margin-bottom: 8px;
    margin-right: 20px;
    border-radius: 50%;
}
.border-b-1 {border-bottom: 1px solid rgba(162,162,162,.16);}