.leftnav{
-o-transform:rotate(4deg);
-webkit-transform:rotate(4deg);
-moz-transform:rotate(4deg);
}

.rightnav{
    -o-transform:rotate(-4deg);
-webkit-transform:rotate(-4deg);
-moz-transform:rotate(-4deg);
}